.btm_container{
    width: 100%;
    height: auto;
    
}
.btm_container .desc_text{
    width: 40%;
    margin: auto;
    padding: 1rem;
}
.cheuffer_menu{
    /* border: 1px solid red; */
    width: 95%;
    height: auto;
    margin: auto;
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}
.cheuffer_menu .menu_cont{
    padding: 0.5rem;
    margin: auto;
width: 90%;
height: 90%;
border-radius: 5px;
border: 0.5px solid rgba(0, 0, 0, 0.58);
background: #FFF;
}
.cheuffer_menu .menu_cont img{
    width: 358px;
    height: 50%;
    object-fit: cover;
    margin: auto;
}
.cheuffer_menu .menu_cont .type_text{
    color: #030303;
    text-align: center;
    font-family: 'Cormorant';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px; /* 152.778% */
    letter-spacing: 0.25px;
    text-transform: capitalize;
}
.cheuffer_menu .menu_cont .explore{
    color: rgba(3, 3, 3, 0.90);
text-align: center;
font-family: 'Poppins';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 55px; /* 275% */
letter-spacing: 0.25px;
text-decoration-line: underline;
text-transform: capitalize;
cursor: pointer;
padding: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
    .btm_container .desc_text{
        width: 80%;
        font-size: 13px;
        margin: auto;
        padding: 1rem;
    }
    .cheuffer_menu .menu_cont{
        width: 80%;
    }
    .cheuffer_menu .menu_cont .type_text{
        font-size: 25px;
    }
    .cheuffer_menu .menu_cont .explore{
    font-size: 16px;
    }
}
@media screen and (max-width: 767px) {
    .btm_container .desc_text{
        width: 80%;
        font-size: 13px;
        margin: auto;
        padding: 1rem;
    }
    .cheuffer_menu .menu_cont{
        width: 60%;
    }
    .cheuffer_menu .menu_cont .type_text{
        font-size: 25px;
    }
}