.btm_container{
    width: 100%;
    height: auto;
    
}
.btm_container .self_btm{
    margin-bottom: 3rem;
}
.btm_container .desc_text{
    width: 40%;
    margin: auto;
    padding: 1rem;
}
.cheuffer_menu{
    /* border: 1px solid red; */
    width: 95%;
    height: auto;
    margin: auto;
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr)
}
.cheuffer_menu .menu_cont{
    padding: 0.5rem;
    margin: auto;
width: 90%;
height: 90%;
border-radius: 5px;
border: 0.5px solid rgba(177, 167, 167, 0.58);
background: #FFF;
}
.cheuffer_menu .menu_cont img{
    width: 358px;
    height: 55%;
    object-fit: cover;
    margin: auto;
}
.cheuffer_menu .menu_cont .type_text{
    margin-top: 35px;
    color: #030303;
    text-align: center;
    font-family: 'Cormorant';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px; /* 152.778% */
    letter-spacing: 0.25px;
    text-transform: none;
}
.cheuffer_menu .menu_cont .explore{
    display: flex;
    width: 131px;
    cursor: pointer;
    height: 40px;
    padding: 10px 26px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    gap: 10px;
    color: #FFF;
    font-family: 'Poppins';
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 12.5px; /* 83.333% */
    letter-spacing: 1px;
    border-radius: 4px;
border: 0.5px solid #09005D;
background: #09005D;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06);
    flex-shrink: 0;
  }
  
  .cheuffer_menu .menu_cont .explore:hover{
    background: #fff;
    color: #09005D;
    border: 1px solid #09005D;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
.desc_self{
    width: 40%;
    margin: auto;
    margin-top: 21px;
    margin-bottom: 3rem;
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
    .btm_container .desc_text{
        width: 80%;
        font-size: 13px;
        margin: auto;
        padding: 1rem;
    }
    .cheuffer_menu .menu_cont{
        width: 80%;
    }
    .cheuffer_menu .menu_cont .type_text{
        font-size: 25px;
    }
    .cheuffer_menu .menu_cont .explore{
    font-size: 16px;
    }
    .cheuffer_menu{
        grid-template-columns: repeat(2,1fr)
    }
}
@media screen and (max-width: 767px) {
    .cheuffer_menu{
        grid-template-columns: repeat(2,1fr);
    
    }
    .btm_container .desc_text{
        width: 80%;
        font-size: 13px;
        margin: auto;
        padding: 1rem;
    }
    .cheuffer_menu .menu_cont{
        
        padding-bottom: 1.5rem;
        width: 150px;
  flex-grow: 0;
 margin: auto;

  border-radius: 4px;
  border: solid 0.5px rgba(0, 0, 0, 0.34);
  background-color: #fff;
    }
    .cheuffer_menu .menu_cont .type_text{
        font-family: Cormorant;
        font-size: 20px;
        margin-top: 7px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.25px;
        text-align: center;
        color: #030303;
    }
    .cheuffer_menu .menu_cont .explore{
        width:98%;
        margin-top: 1rem;
        font-size: 13px;
    }
    .cheuffer_menu .menu_cont img{
        width: 100%;
    }
}