
.ser_text{
    width: 60%;
    /* border: 1px solid red; */
    color: #FFF;
    margin: 5rem auto 2rem auto;
text-align: center;
font-family: 'Cormorant';
font-size: 70px;
font-style: normal;
font-weight: 500;
line-height: 85px; /* 121.429% */
letter-spacing: 0.25px;
}
.sub_text{
    /* border: 1px solid red; */
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    margin: auto;
    width: 40%;
    font-style: normal;
    font-weight: 400;
    line-height: 32.5px; /* 203.125% */
    letter-spacing: 0.5px;
}
.btm_Sec2 .head_text{
    color: #FFF;
text-align: center;

font-family: 'Cormorant';
font-size: 70px;
font-style: normal;
font-weight: 600;
line-height: 85px; /* 121.429% */
letter-spacing: 0.25px;
}
.btm_Sec2 .desc_text{
    padding: 1rem;
    margin: auto;
    width: 55%;
    color: rgba(255, 255, 255, 0.80);
text-align: center;
font-family: 'Poppins';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32.5px; /* 203.125% */
letter-spacing: 0.5px;
}
.bred{
    padding-top: 1rem;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .ser_text{
        margin: auto;
        margin-top: 5rem;
    }
}