.btm_Sec{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    gap: 2%;
    padding: 2%;
}
.inner_left{
    margin-top: 10px;
    width: 20%; /* Adjust the width as needed */
    padding: 10px;
    max-height: 100vh; /* Set the maximum height to 100% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the height */
    border-radius: 5px;
border: 0.5px solid rgba(122, 131, 140, 0.21);
background: #FFF;
box-shadow: 0px 2px 2px 0px rgba(151, 166, 183, 0.16);
    
/* border: 2px solid red; */
}
.inner_Select{
    width: 100%;
}
.inner_right{
    flex-grow: 1;
    overflow-y: auto;
width: 75%;
/* border: 2px solid red; */
}
.inner_right::before {
    content: '';
    flex-shrink: 0;
    width: 30px; /* Adjust the width as needed */
  }
.right_cont{
    margin: auto;
    width: auto;
    height: auto;
    padding: 10px;
   
    /* border: 2px solid springgreen; */
}
.right_cont .single_cont{
    width: 95%;
    height: auto;
    /* border: 2px solid blue; */
    display: flex;
    margin: 0 1.5rem 1.5rem 1.5rem;
    padding-bottom:2rem ;
    padding-top: 2rem;
    border-radius: 5px;
border: 0.5px solid rgba(122, 131, 140, 0.21);
background: #FFF;
box-shadow: 0px 2px 2px 0px rgba(151, 166, 183, 0.16);
    
}
.right_cont .single_cont .img_sec{
    /* border: 1px solid black; */
    width: 20%;
    margin: auto;
    height: 100%;
}
.right_cont .single_cont .specification_sec{
    /* border: 1px solid black; */
    width: 60%;
    margin: auto;
    height: 13rem;
}
.car_name_Sec{
    width: 100%;
    /* border: 1px solid red; */
    
}
.specification_sec .carName{
    color: #031B4E;
font-family: 'Poppins';
font-size: 24px;
margin: 0.5rem;
margin-left: 1rem;
font-style: normal;
font-weight: 600; /* 162.5% */
letter-spacing: 0.25px;
text-transform: capitalize;
}
.specification_sec .carName_self{
    color: #031B4E;
font-family: 'Poppins';
font-size: 24px;
margin: 0.5rem;
margin-left: 3rem;
font-style: normal;
font-weight: 600; /* 162.5% */
letter-spacing: 0.25px;
text-transform: capitalize;
}
.specification_sec .Single_car_details{
    display: flex;
    justify-content: space-around;
}
.list_cont li{
    color: #031B4E;
font-family: 'Poppins';
margin: 0.5rem;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 173.333% */
letter-spacing: 0.5px;
}
.inner_fleetFilter {
    
    display: flex;
    align-items: center; /* Align items vertically in the center */
    margin-bottom: 10px; /* Adjust as needed to control the space between checkboxes */
  }
  .checkbox {
    width: 16px; 
    height: 16px;
  
  }
.fleet_filter{
  margin-top: 1rem;
width: 90%;
margin: auto;
/* border: 2px solid greenyellow; */
}
.fleet_text{
    color: #031B4E;
font-family: 'Poppins';
font-size: 16px;
margin: 1rem 0;
font-style: normal;
font-weight: 600;
line-height: 26.5px; /* 165.625% */
letter-spacing: 0.25px;
}
.filter_text{
 color: rgba(3, 3, 3, 0.82);
font-family: 'Poppins';
font-size: 15px;
font-style: normal;
font-weight: bold;
line-height: 26.5px; /* 176.667% */
letter-spacing: 0.25px;
margin-left: 1rem;
margin-bottom: 0.2rem;
}
/* .inner_fleetFilter{
    
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    text-align: right;
} */

.right_cont .single_cont .price_sec{
    /* border: 1px solid black; */
    width: 25%;
    margin: auto;
    padding: 0.5rem;
    height: auto;
}
.price_sec .hourly{
    color: #031B4E;
font-family: 'Poppins';
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 162.5% */
letter-spacing: 0.5px;
}
.price_sec .hour{
    color: #031B4E;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    text-align: center;
    padding-bottom: 0.5rem;
    font-weight: 600;
    line-height: 26px; /* 81.25% */
    letter-spacing: 0.5px;
}
.price_sec .book_btn{
    display: flex;
width: 70%;
height: 40px;
margin: auto;
margin-top: 25px;
padding: 10px 26px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
    border-radius: 4px;
border: 0.5px solid #031B4E;
background: #031B4E;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06);
}
.right_cont .single_cont .price_sec_ch{
    /* border: 1px solid black; */
    width: 25%;
   
    padding: 0.5rem;
    height: auto;
}
.price_sec_ch .hourly{
    color: #031B4E;
font-family: 'Poppins';
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 162.5% */
letter-spacing: 0.5px;
}
.price_sec_ch .hour{
    color: #031B4E;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    text-align: center;
    padding-bottom: 0.5rem;
    font-weight: 600;
    line-height: 26px; /* 81.25% */
    letter-spacing: 0.5px;
}
.price_sec_ch .book_btn{
    display: flex;
width: 70%;
height: 40px;
margin: auto;
padding: 10px 26px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
    border-radius: 4px;
border: 0.5px solid #031B4E;
background: #031B4E;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06);
}
.nocar{
margin: auto;
}
.nocar img{
    margin: auto;
}
 .desc_nocar{
    color: rgba(3, 27, 78, 0.60);
text-align: center;
font-family: 'Poppins';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 29px; /* 145% */
letter-spacing: 0.5px;
}
/* In your CSS file or component styles */
@media only screen and (max-width: 768px) {
    .specification_sec {
      display: none;
    }
    .img_sec{
        width: 50%;
    }
  }
  