.main_top_container{
    /* border: 2px solid springgreen; */
    width: 100%;
    color: #fff;
    height: 50rem;
    background: linear-gradient(0deg, #0C0125 26.56%, #1F0015 58.85%, #320003 100%);
}
.navbar{
    font-family: 'Poppins';
    width: 100%;
    /* border: 1px solid red; */
    font-weight: 400;
    display: flex;
}
.logo{
    width: 100%;
    margin: auto;
    padding: 1rem 2rem;
    /* border:2px solid yellowgreen; */
}
/* nav options section starts */
.nav_options{
    width: 60%;
    text-align: center;
    /* border:2px solid yellowgreen; */
}
.nav_menus{
    
    display: flex;
justify-content: center;
align-items: center;
margin-left: 5rem;
}

.nav_options .nav_menus ul{
    color:rgba(255, 255, 255, 0.80);
list-style: none;
text-align: center;
}
.nav_options .nav_menus ul li{
    cursor: pointer;
    
}
/* nav options section ends */
/* contact section starts */
.contact{
    margin: auto;
}
.contact .contact_button{

width: 7.5rem;
padding: 10%;
border: 1px solid rgb(136, 124, 124);
border-radius: 5px;
 color:rgba(255, 255, 255, 0.80);
background: transparent;
}
/* contact section ends */

/* social links section starts */
.social_links{
    margin: 3% 0;
    width: 100%;
    height: 2rem;
    /* border: 2px solid teal; */
}
.social_links .social_icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_links .social_icons span{
    margin: 10px;
}
.social_links .social_icons span:hover{
   cursor: pointer;
}

/* social links section ends */

/* heading section starts */
.heading_text{
    width: 60%;
    margin: auto;
    /* border: 1px solid red; */
}
.heading_text p{
    font-family: 'Cormorant',serif;
   
    text-align: center;
    font-size: 70px;
    line-height: 95px;
}
/* heading section ends */

/* detail section starts */
.detailed_desc{
    width: 50%;
    margin: auto;
}
.detailed_desc p{
    margin-top: 22px;
    text-align: center;
    font-size: 16px;
    line-height: 32.5px;
}
/* detail section ends */

@media screen and (min-width: 768px) and (max-width: 1025px) {
    /* Styles specific to tablet view */
    .contact{
        margin-top: 1.8rem;
    }
    .heading_text p{
        font-family: 'Cormorant',serif;
        margin-top: 10px;
        text-align: center;
        font-size: 50px;
    }
    .nav_options{
        margin: auto;
    }
    .logo {
        width: 80%;
        height: 60%;
        margin: 1rem;
        
    }
  }



/* Media query for mobile */
@media screen and (max-width: 767px) {
    /* Styles specific to mobile view */
    .nav_options{
        display: none;
    }
    .contact{
        display: none;
    }
    .social_links{
        margin-top: -15%;
    }
    .logo {
        width: 80%;
        height: 70%;
        margin: 0.5rem;
        /* border:2px solid yellowgreen; */
    }
    .heading_text{
        width: 85%;
    }
    .heading_text p{
        margin: 95px 4px 30px;
        font-family: Cormorant;
        font-size: 37px;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: 0.25px;
        text-align: center;
        color: #fff;
    }
    .detailed_desc{
        width: 100%;
        text-align: center;
    }
    .detailed_desc p{
        margin: 30px 20px 0;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
    }
  }
  
  @media screen and (max-width: 1290px) {
    .nav_options .nav_menus ul{
        margin-top: 7%;
    }
  }