.main_top_container{
    width: 100%;
    color: #fff;
    height: 40rem;
    background: linear-gradient(180deg, #0C0125 26.56%, #1F0015 58.85%, #320003 100%);
}
.navbar{
    font-family: 'Poppins';
    width: 100%;
    height: 8rem;
    font-weight: 400;
    display: flex;
}
.logo{
    width: 60%;
    height: 100%;
    /* border:2px solid yellowgreen; */
}
/* nav options section starts */
.nav_options{
    width: 60%;
    height: 100%;
    margin-left: 8rem;
    /* border:2px solid yellowgreen; */
}

.nav_options .nav_menus ul{
    color:rgba(255, 255, 255, 0.80);
list-style: none;
display: flex;
justify-content: space-around;
margin-top: 7%;
}
.nav_options .nav_menus ul li{
    cursor: pointer;
}
/* nav options section ends */
/* contact section starts */
.contact{
    margin: auto;
}
.contact .contact_button{

width: 6rem;
padding: 10%;
border: 1px solid rgb(136, 124, 124);
border-radius: 5px;
 color:rgba(255, 255, 255, 0.80);
background: transparent;
}
/* contact section ends */

/* social links section starts */
.social_links{
    margin-top: 2%;
    width: 100%;
    height: 2rem;
    /* border: 2px solid teal; */
}
.social_links .social_icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_links .social_icons span{
    margin: 10px;
}
.social_links .social_icons span:hover{
   cursor: pointer;
}

/* social links section ends */

/* heading section starts */
.heading_text{
    width: 60%;
    margin: auto;
}
.heading_text p{
    font-family: 'Cormorant',serif;
    margin-top: 10px;
    text-align: center;
    font-size: 70px;
}
/* heading section ends */

/* detail section starts */
.detailed_desc{
    width: 47%;
    margin: auto;
}
.detailed_desc p{
    margin-top: 22px;
    text-align: center;
    font-size: 16px;
    line-height: 32.5px;
}
/* detail section ends */

@media screen and (min-width: 768px) and (max-width: 1025px) {
    /* Styles specific to tablet view */
    .contact{
        margin-top: 1.8rem;
    }
    .heading_text p{
        font-family: 'Cormorant',serif;
        margin-top: 10px;
        text-align: center;
        font-size: 50px;
    }
    .nav_options{
        margin: auto;
    }
    .logo {
        width: 80%;
        height: 60%;
        margin: 1rem;
        
    }
  }



/* Media query for mobile */
@media screen and (max-width: 767px) {
    /* Styles specific to mobile view */
    .nav_options{
        display: none;
    }
    .contact{
        display: none;
    }
    .social_links{
        margin-top: -15%;
    }
    .logo {
        width: 40%;
        height: 70%;
        margin: 0.5rem;
        /* border:2px solid yellowgreen; */
    }
    .heading_text{
        width: 70%;
    }
    .heading_text p{
        font-family: 'Cormorant',serif;
        margin-top: 10px;
        text-align: center;
        font-size: 35px;
    }
    .detailed_desc{
        width: 67%;
        margin: auto;
    }
  }
  