.car_images{
    width: 50%;
    /* border: 1px solid springgreen; */
    /* position: absolute; */
    
}
.car_images img{
    width: 100%;
}
.cars{
    /* position: relative;
    top: 10%; */
    width: 45%;
    margin: auto;
}
.prev{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
  margin-top: 22%;
}
.next{
    margin-top: 22%;
}

@media screen and (min-width: 768px) and (max-width: 1030px) {
    .cars{
        width: 35%;
        margin: auto;
    }
    .car_images img{
        width: 100%;
        margin-top: 5%;
    }
    .prev{
        margin-top: 13%;
    }
    .next{
        margin-top: 13%;
    }
}


@media screen and (max-width: 767px) {
    .cars{
        width: 55%;
        margin: auto;
    }
.car_images img{
    width: 100%;
    margin-top: 20%;
}
.prev{
    margin-top: 5%;
}
.next{
    margin-top: 5%;
}
}