.car_images{
    width: 50%;
    /* border: 1px solid springgreen; */
    /* position: absolute; */
    padding: 1rem 0;
}
.car_images img{
    width: 100%;
    margin-top: 5%;
}
.cars{
    /* position: relative;
    top: 10%; */
    width: 45%;
    margin:-7% auto;
}
.prev{
   margin-bottom: 30%;
}
.next{
    
}

@media screen and (min-width: 768px) and (max-width: 1030px) {
    .cars{
        width: 35%;
        margin: auto;
    }
    .car_images img{
        width: 100%;
        margin-top: 5%;
    }
    .prev{
        margin-top: 13%;
    }
    .next{
        margin-top: 13%;
    }
}


@media screen and (max-width: 767px) {
    .cars{
        width: 55%;
        margin: auto;
    }
.car_images img{
    width: 100%;
    margin-top: 20%;
}
.prev{
    margin-top: 5%;
}
.next{
    margin-top: 5%;
}
}