.car_images{
    width: 50%;
}
.car_images img{
    width: 100%;
    margin-top: 20%;
}
.cars{
    width: 25%;
    margin: auto;
}

@media screen and (min-width: 768px) and (max-width: 1030px) {
    .cars{
        width: 35%;
        margin: auto;
    }
    .car_images img{
        width: 100%;
        margin-top: 0%;
    }
}


@media screen and (max-width: 767px) {
    .cars{
        width: 55%;
        margin: auto;
    }
.car_images img{
    width: 100%;
    margin-top: 50%;
}
}