.About_cont{
  max-width: 100%;
 
}
.top{
  max-width: 100%;
 
}

.top .left img{
  margin-top: 2rem;
 height: 600px;
 
}
.top .right{
  width: 90%;
  margin: auto;
  
}
.top .right .head_text{
  text-align: center;
  margin-top: 4rem;
  text-transform: none;
  margin-bottom: 2rem;
}
.top .right .desc_text{
  text-align: center;
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}
.who_car {
  width: 100%;
  margin-top: 5rem;
  display: flex;
}

.who_info {
  background: linear-gradient(0deg, #0C0125 31.33%, #1F0015 64.81%, #320003 100%);
  width: 100%; /* Adjusted width to 100% */
  flex: 1;
}

.who_info .head_text {
  color: #FFF;
  margin-left: 5rem;
  text-align: left;
  font-family: 'Cormorant';
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 85px;
  letter-spacing: 0.25px;
}

.who_img {
  width: 100%; /* Adjusted width to 100% */
  flex: 1;
}
.mid{
  max-width: 100%;
}
.inner_mid{
  max-width: 100%;
}
.inner_mid{
  display: flex;
  margin-top: 3rem;
}
.inner_mid .left{
  flex: 1;
  margin-top: 2rem;
  width: 50%;
  margin-left: 2rem;
}
.inner_mid .left .head_text{
  text-align: left;
  margin-bottom: 2rem;
}
.inner_mid .left .desc_text{
  text-align: left;
}
.inner_mid .right{
  margin: auto;
}
.inner_mid .right img{

  border-radius: 10px;
  /* border: 1px solid red; */
  width: 65%;
  margin: auto;
  margin-top: 5rem;
}
.inner_btm .head_text{
  margin-top: 4rem;
}

.inner_btm .desc_text{
  margin-bottom: 5rem;
}
.conc_info{
 
  width: 50%;
 
  margin: auto;
}
.conc_info img{
  margin-top: -5rem;
}
.btm_cont_text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 15rem;
  border-radius: 21px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2rem;
background: rgba(192, 170, 238, 0.55);
}
.btm_info{
  color: rgba(3, 27, 78, 0.80);
text-align: center;
font-family: 'Poppins';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32.5px; /* 203.125% */
letter-spacing: 0.5px;
  width: 80%;
  text-align: center;
}
.last_Sec{
  width: 100%;
  margin-top: 6rem;
  color: #fff;

display: flex;
  
}
.last_Sec .left_sec{

  background: linear-gradient(0deg, #0C0125 26.56%, #1F0015 58.85%, #320003 100%);
width: 100%;
}

.ulTop{
  display: flex;
  width: 100%;
 /* border: 1px solid red; */
  list-style: none;
}
.ul1,.ul2{
  
  margin-top: 1rem;
  /* border: 1px solid red; */
  list-style-type: disc;
}
.ul1 li,.ul2 li{
  width: 100%;
}

  .top_head .head_text{
    margin-top: 3rem;
    font-weight: 500;
    text-align: left;
    text-align: center;
    color: #fff;
    margin-left: -7rem;
    margin-bottom: 4rem;
    text-transform: none;
  }
  
  .left_sec .bottom_info{
    margin: auto;
    width: 80%;

  }
  .left_sec .bottom_info ul{
    justify-content: space-between;
  }
  .left_sec .bottom_info ul li{
    margin-bottom: 2rem;
    
    font-family: 'Poppins';
    font-size: 18.5px;
  }
.last_Sec .right_sec{
width: 40%;
}
.UlHeads{

  font-size: 25px;
}

@media screen and (max-width: 767px) {
  .top{
    flex-direction: column;
  }
  .top .left{
    /* border: 1px solid red; */
    margin: 0;
    margin-top: 1rem;
  }
  .top .left img{
    height: 450px;
    margin-left: -1rem;
  }
  .top .right{
    margin-top: -2rem;
    width: 90%;
  }
  .top .right .head_text{
    font-size: 30px;
    margin-left: 0.2rem;
  }
  .top .right .desc_text{
    width: 100%;
    text-align: left;
    /* border: 1px solid red; */
  }
  .inner_mid{
    flex-direction: column-reverse;
    margin-top: -3rem;
    width: 100%;
  }
  .inner_mid .right{
    margin: 0;
   
  }
  .inner_mid .right img{
   
    width: 93%;
    margin-top: 8rem;
  }
  .inner_mid .left{
   
    margin: 0;
    width: 100%;
    margin-left: -0.8rem;
    margin-top: -5rem;
  }
  .inner_mid .left .head_text{
    margin-left: -0.2rem;
    font-size: 30px;
    /* border: 1px solid red; */
  }
  .last_Sec{
    flex-direction: column;
  }
  .last_Sec .left_sec{
    width: 100%;
  }
  .last_Sec .left_sec .top_head{
  
    margin-left:0;
    }
    .left_sec .bottom_info{
      margin-left: 2rem;
      margin-top: -2rem;
    }
    .left_sec .bottom_info ul li{
      margin-right: 0;
      font-size: 16px;
    }
    .last_Sec .right_sec{
      width: 100%;
      }
      .top_head .head_text{
        font-size: 30px;
       margin-left: -10rem;
      }
      .bottom{
        margin-top: -4rem;
      }
      .bottom .inner_btm{
        width: 100%;
        margin: auto;
      }
      .bottom .inner_btm .head_text{
        margin-top: 6rem;
      }
      .conc_info img{
        margin: 0;
      }
      .inner_btm .desc_text{
        width: 95%;
        margin: auto;
        margin-bottom: 1rem;
      }
      .conc_info{
        width: 90%;
        margin-bottom: 2rem;
      }
      .btm_cont_text{
        width: 100%;
        height: auto;
        padding: 1rem 0;
      }
      .ulTop{
        display: block;
      }
      .UlHeads{
        font-size: 20px;
        margin-left: -1rem;
      }
}