.breadcrumbs {
    display: flex;
    align-items: center;
    font-size: 1em;
    justify-content: center;
  }
  
  .breadcrumb-item {
    margin-right: 5px;
    color: #7c7878;
  }
  
  .breadcrumb-link {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    overflow: hidden;
  }
  
  .breadcrumb-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #007bff;
    transition: width 0.3s ease-in-out;
  }
  
  .breadcrumb-link:hover::before {
    width: 100%;
  }
  