.services{
    width: 100%;
    height: auto;
}
.services .head_text{
    color: #FFF;
text-align: center;
font-family: 'Cormorant';
font-size: 48px;
font-style: normal;
font-weight: 400;
margin-top: 5rem;
line-height: 55px; /* 114.583% */
letter-spacing: 0.25px;
text-transform: capitalize;
}