*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
   
    /* border: 2px solid red; */
    padding: 1rem;
}
.main_cont{
    width: 80%;
    height: 90%;
    
    margin: auto;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;
}
.main_cont>img{
    position: absolute;
    width: 40rem;
}
.cont_1{
    position: relative;
    right: 15%;
    width: 30%;
    height: 30rem;
    
    margin-left: 5rem;
}
.cont_2{
    position: relative;
    top: 23%;
    left: 14%;
    width: 30%;
    
   
    margin: 0 2rem;
}
.inner_1{
    padding: 2rem 0 2rem 4rem;
    width: 80%;
    height: 40%;
      /* border: 1px solid green; */
    float: right;
    
}
.head{
    color: #031B4E;
text-align: left;
font-family: 'Cormorant';
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 55px; /* 152.778% */
letter-spacing: 0.25px;
text-transform: capitalize;
}
.desc_inner1{
width: 90%; 
float: left; 
/* border: 1px solid red; */
color: rgba(3, 27, 78, 0.80);
font-family: 'Poppins';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 29px; /* 181.25% */
letter-spacing: 0.5px;
}
.inner_2{
    width: 60%;
    height: 45%;
    margin-top: 35%;
    /* border: 1px solid red; */
}
.head_2{
    color: #031B4E;
text-align: left;
font-family: 'Cormorant';
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 55px; /* 152.778% */
letter-spacing: 0.25px;
text-transform: capitalize;
}
.desc_2{
    color: rgba(3, 27, 78, 0.80);
font-family: 'Poppins';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 29px; /* 181.25% */
letter-spacing: 0.5px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
.inner_1{
    margin-right: 5rem;
    
}
.desc{
    margin-right: 5rem;
}
.inner_2{
    margin-left: 3rem;
}
}

@media screen and (max-width: 767px) {
    .container{
       
    }
    .main_cont{
        
    }
}