/* style.css */
.custom-modal-content {
  animation: unfold 0.5s ease-out;
}

@keyframes unfold {
  from {
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    transform-origin: top;
    opacity: 1;
  }
}

.ham {
  cursor: pointer;
}

.drawer-link {
  margin: 1rem 0;
  cursor: pointer;
  transition: color 0.2s;
}

.drawer-link:hover {
  color: teal;
}
.chakra-modal__overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent gray background */
}